
<div class='wrapper'>
    <h3>Displaying values from data array</h3>
    <br>
    <div class="viewer">
      <app-viewer [dataItems]='dataItems'></app-viewer>
    </div>
    <br>
    <br>
    <br>
    <h4>Watch the console</h4>
    <br>
    <hr>
    <br>
    <button (click)='clicked()'>1</button>
    <span class="explain"> Empty data array, assign prop to new array holding <strong>the same</strong> objects </span>
    <p>All viewContainers are reused. The input prop array has changed, but no new viewContainers are needed.</p>
    <br>
    <hr>
    <br>
    <button (click)='clickedOtherObjects()'>2</button>
    <span class="explain">Reassign to new array holding with <strong>other</strong> objects</span>
    <p>New viewContainers are created</p>
    <br>
    <hr>
    <br>
    <button (click)='clickedTimeout()'>3</button>
    <span class="explain">Like 1, with <strong>timeout</strong> before reassigning</span>
    <p>All viewContainers could be reused, but Angular doesn't know in advance. So no recycling.</p>
</div>