.wrapper {
  padding: 20px;
  background-color: mistyrose;
}

.viewer {
  height: 110px;
}

.explain {
  font-size: 1.1em;
  padding: 20px;
  display: inline-block;
}

button {
  width: 100px;
  margin: auto 20px;
}